In [24]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [25]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [26]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [27]:
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [28]:
slide_elem = news_soup.select_one('ul.item_list li.slide')
slide_elem

<li class="slide"><div class="image_and_description_container"><a href="/news/8461/mars-2020-rover-t-minus-one-year-and-counting/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Engineers at JPL install a sensor-filled turret on the end of the rover's seven-foot-long (2.1-meter-long) robotic arm." src="/system/news_items/list_view_images/8461_PIA23311-th.jpg"/></div><div class="bottom_gradient"><div><h3>Mars 2020 Rover: T-Minus One Year and Counting </h3></div></div></a><div class="list_text"><div class="list_date">July 17, 2019</div><div class="content_title"><a href="/news/8461/mars-2020-rover-t-minus-one-year-and-counting/" target="_self">Mars 2020 Rover: T-Minus One Year and Counting </a></div><div class="article_teaser_body">The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020.</div></div></div></li>

In [29]:
slide_elem.find('div', class_="content_title")

In [30]:
news_title = slide_elem.find('div', class_="content_title").text
news_title

'Mars 2020 Rover: T-Minus One Year and Counting '

In [31]:
news_p = slide_elem.find('div', class_="article_teaser_body").text
news_p

"The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020."

### JPL Mars Space Images - Featured Image

In [32]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [33]:
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [34]:
more_info_elem = browser.find_link_by_partial_text("more info")
more_info_elem.click()

In [35]:
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [36]:
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA19952_hires.jpg'

In [37]:
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19952_hires.jpg'

### Mars Weather

In [38]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [39]:
html = browser.html
weather_soup = BeautifulSoup(html, "html.parser")

In [40]:
tweets = weather_soup.find_all('div', class_='js-tweet-text-container')
tweets

[<div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="4" lang="en">No pressure<a class="twitter-timeline-link u-hidden" data-expanded-url="https://twitter.com/astrostaab/status/1151554846920626176" dir="ltr" href="https://t.co/Dvfj0VyQ3J" rel="nofollow noopener" target="_blank" title="https://twitter.com/astrostaab/status/1151554846920626176"><span class="tco-ellipsis"></span><span class="invisible">https://</span><span class="js-display-url">twitter.com/astrostaab/sta</span><span class="invisible">tus/1151554846920626176</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">The launch period for NASA's Mars 2020 rover opens exactly one year from today and extends through Aug. 5, 2020. Watch it’s construction live<a class="twitter-timeline-link u-hidden" data-expanded-url="https://youtu.be/PaNiYPglK58" dir="ltr" href="https://t.co/Rls4ucVpgR" rel="nofollow noopener" target="_blank" title="https://youtu.be/PaNiYPglK58"><span class="tco-ellipsis"></span><span class="invisible">https://</span><span class="js-display-url">youtu.be/PaNiYPglK58</span><span class="invisible"></span><span class="tco-ellipsis"><span class="invisible"> </span></span></a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 222 (2019-07-12) low -99.7ºC (-147.5ºF) high -24.8ºC (-12.6ºF)
 winds from the SSE at 4.2 m/s (9.4 mph) gusting to 15.6 m/s (34.8 mph)
 pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/8Q8lyB6SjM">pic.twitter.com/8Q8lyB6SjM</a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 221 (2019-07-11) low -99.4ºC (-147.0ºF) high -23.8ºC (-10.9ºF)
 winds from the SSE at 4.1 m/s (9.1 mph) gusting to 14.1 m/s (31.6 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 220 (2019-07-10) low -101.2ºC (-150.2ºF) high -25.9ºC (-14.7ºF)
 winds from the SSE at 4.1 m/s (9.3 mph) gusting to 16.0 m/s (35.8 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">The <a class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" href="/hashtag/Mars2020?src=hash"><s>#</s><b>Mars2020</b></a> rover gets her wheels from the pit crew with PhDs
 <a class="twitter-timeline-link" data-expanded-url="https://mars.nasa.gov/mars2020/mission/where-is-the-rover/" dir="ltr" href="https://t.co/525ZvhvGhP" rel="nofollow noopener" target="_blank" title="https://mars.nasa.gov/mars2020/mission/where-is-the-rover/"><span class="tco-ellipsis"></span><span class="invisible">https://</span><span class="js-display-url">mars.nasa.gov/mars2020/missi</span><span class="invisible">on/where-is-the-rover/</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a><a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/DRHHZpRI3f">pic.twitter.com/DRHHZpRI3f</a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 219 (2019-07-09) low -100.3ºC (-148.5ºF) high -24.9ºC (-12.8ºF)
 winds from the SE at 4.5 m/s (10.0 mph) gusting to 16.1 m/s (36.1 mph)
 pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/zJkUifSPvt">pic.twitter.com/zJkUifSPvt</a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 218 (2019-07-08) low -100.2ºC (-148.4ºF) high -26.1ºC (-15.1ºF)
 winds from the SE at 4.6 m/s (10.2 mph) gusting to 16.0 m/s (35.8 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 216 (2019-07-06) low -102.5ºC (-152.5ºF) high -24.9ºC (-12.8ºF)
 winds from the SSE at 4.6 m/s (10.2 mph) gusting to 15.8 m/s (35.4 mph)
 pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/fwGott1wRL">pic.twitter.com/fwGott1wRL</a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 215 (2019-07-05) low -101.7ºC (-151.0ºF) high -25.0ºC (-12.9ºF)
 winds from the SSE at 4.2 m/s (9.3 mph) gusting to 14.6 m/s (32.6 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 214 (2019-07-04) low -101.2ºC (-150.1ºF) high -24.7ºC (-12.4ºF)
 winds from the SSE at 4.2 m/s (9.4 mph) gusting to 14.5 m/s (32.4 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 213 (2019-07-03) low -102.1ºC (-151.8ºF) high -25.2ºC (-13.3ºF)
 winds from the WSW at 4.0 m/s (8.9 mph) gusting to 15.1 m/s (33.8 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 212 (2019-07-02) low -102.1ºC (-151.8ºF) high -24.2ºC (-11.6ºF)
 winds from the SSE at 4.3 m/s (9.5 mph) gusting to 15.7 m/s (35.2 mph)
 pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/nm8kOX6ed2">pic.twitter.com/nm8kOX6ed2</a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 211 (2019-07-01) low -101.0ºC (-149.7ºF) high -24.3ºC (-11.8ºF)
 winds from the SSW at 4.3 m/s (9.7 mph) gusting to 15.4 m/s (34.5 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 210 (2019-06-30) low -101.0ºC (-149.8ºF) high -25.4ºC (-13.7ºF)
 winds from the SE at 4.4 m/s (9.7 mph) gusting to 15.6 m/s (35.0 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 209 (2019-06-28) low -103.0ºC (-153.4ºF) high -23.7ºC (-10.7ºF)
 winds from the SSE at 4.3 m/s (9.6 mph) gusting to 15.5 m/s (34.8 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 208 (2019-06-27) low -102.3ºC (-152.2ºF) high -23.7ºC (-10.7ºF)
 winds from the SSE at 4.3 m/s (9.7 mph) gusting to 15.4 m/s (34.5 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 207 (2019-06-26) low -103.9ºC (-155.1ºF) high -25.0ºC (-12.9ºF)
 winds from the SE at 4.3 m/s (9.5 mph) gusting to 15.8 m/s (35.4 mph)
 pressure at 7.60 hPa</p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Long before the National Weather Service or NASA, Thomas Jefferson diligently recorded weather observations four times each day. From his notes while in Philadelphia, July 1776: <a class="twitter-timeline-link" data-expanded-url="https://www.monticello.org/site/research-and-collections/weather-observations" dir="ltr" href="https://t.co/ZysM6325vc" rel="nofollow noopener" target="_blank" title="https://www.monticello.org/site/research-and-collections/weather-observations"><span class="tco-ellipsis"></span><span class="invisible">https://www.</span><span class="js-display-url">monticello.org/site/research-</span><span class="invisible">and-collections/weather-observations</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a><a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/Jt37JdK8Ch">pic.twitter.com/Jt37JdK8Ch</a></p>
 </div>, <div class="js-tweet-text-container">
 <p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 206 (2019-06-25) low -103.5ºC (-154.2ºF) high -25.3ºC (-13.5ºF)
 winds from the SE at 4.3 m/s (9.6 mph) gusting to 15.6 m/s (34.8 mph)
 pressure at 7.60 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/lqcwvVG0c9">pic.twitter.com/lqcwvVG0c9</a></p>
 </div>]

In [41]:
for tweet in tweets:
    mars_weather = tweet.find('p').text

mars_weather

'InSight sol 206 (2019-06-25) low -103.5ºC (-154.2ºF) high -25.3ºC (-13.5ºF)\nwinds from the SE at 4.3 m/s (9.6 mph) gusting to 15.6 m/s (34.8 mph)\npressure at 7.60 hPapic.twitter.com/lqcwvVG0c9'

### Mars Facts

In [45]:
url = 'https://space-facts.com/mars/'
mars_facts = pd.read_html(url)
mars_facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [46]:
mars_df = mars_facts[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [47]:
mars_df.columns = ['Description','Value']
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [48]:
mars_df.set_index('Description', inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [49]:
mars_html = mars_df.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [50]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [51]:
hemi_html = browser.html
hemi_soup = BeautifulSoup(hemi_html, 'html.parser')

In [52]:
items = hemi_soup.find_all('div', class_='item')
items

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [53]:
images = []
main_url = 'https://astrogeology.usgs.gov'

In [54]:
# Loop to store "title" and "img_url"
for item in items:
    title = item.find('h3').text
#     print(title)
    
    x_url = item.find('a', class_='itemLink product-item')['href']
#     print(x_url)
    
#     zzz = main_url+x_url
#     print(zzz)
    
    browser.visit(main_url+x_url)
    
    x_url = browser.html
    x_soup = BeautifulSoup(x_url, 'html.parser')
    
    img_url = main_url + x_soup.find('img', class_="wide-image")['src']
#     print(img_url)
    
    images.append({"title":title, "img_url":img_url})
    
images

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]